/* *{
  border: solid blue 1px;
} */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid blue 1px; */
}
@font-face {
  font-family: "hammersmithOne"; /*a name to be used later*/
  src: url("HammersmithOne-Regular.ttf"); /*URL to font*/
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* height: 200em; */
  width: 100%;
  font-family: "hammersmithOne";
  color: black;
  overflow-x: hidden;
  
}

    
.parallax {

  background-image: url("nachos.webp");
  height: 100%;
  max-width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#container{
  /* background: rgb(131,27,20); */
  display:flex;
  justify-content: center;
  width: 100%;
  /* height:4000px; */
  margin: auto;

}

#upperNavBar{
position: sticky;
position: -webkit-sticky;
z-index: 10;
display: flex;
justify-content: space-between;
height: 8em;
width: 100%;
background: rgb(131,27,20);
border-bottom: 10px solid black;
/* background: linear-gradient(0deg, rgba(131,27,20,0) 2%, rgba(131,27,20,1) 25%); */
}
#navWrap{
  position: sticky;
  height: 8em;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  z-index: 5;
}
#navLeft{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  height: 3.8em;
  width:fit-content;
  margin-left: .2em;
}
#navLeft img{
  height: 3.2em;
  position: relative;
  left:-.4em;
}
#logoWrap{
  position: relative;
  display: block;
  width:fit-content;
  top:-.5em;
  height: 7em;
}
#logoWrap img{
  display: block;
  width: 10em;
  height: 5.95em;
  margin: 0;
}
#navRight{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  height: 3.8em;
  margin-right: .2em;
}
#navRight img{
  height: 2.4em;
}
.navLink{
  font-family:"Impact", fantasy;
  color: white;
  text-decoration: none;
  margin: 2em;
  font-size: 2em;
}
.navLink:hover{
  text-decoration: none;
  color:black;
} 
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  font-size: 20px;
  height: 8em;
  z-index: 10; 
}
#phNum{
  display: block;
  position: relative; 
  color: white; 
  font-size: 1.1em; 
  text-decoration: none; 
  height: 1em;
  text-align: center;
  top:-.5em;
}
#phNum:hover{
  transition: ease .4s;
  color: black;
}
#hero{
  background-color: black;
  display: flex;
  justify-content: center;
  z-index: 0;
  position: relative;
  height: 70em;
  overflow: hidden;
}
#hero2200{
  background-color: black;
  display: none;
  justify-content: center;
  z-index: 0;
  height: 20em;
  overflow: hidden;
}
#hero1000{
  background-color: black;
  display: none;
  justify-content: center;
  z-index: 0;
  height: 40em;
  overflow: hidden;
}
#heroSmall{
  background-color: black;
  display: none;
  overflow: hidden;
}
#heroSmallest{
  background-color: black;
  display: none;
  justify-content: center;
  z-index: 0;
  height: 20em;
  overflow: hidden;
}
#hero500{
  background-color: black;
  display: none;
  justify-content: center;
  z-index: 0;
  height: 20em;
  overflow: hidden;
}
#address {
  position: relative;
  display:block;
  font-family: "hammersmithOne";
  height:fit-content;
  color: silver;
}

#infoTxtLeft{
  position: relative;
  display: block;
  height: fit-content;
  width:25%;
  font-family: "hammersmithOne";
  font-size: 1.5em;
  color: white;
}
#info  {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #831B14ff;
  position: absolute;
  border-top: solid black 15px;
  left: 0px;
  width:100%;
  top:77em;
  height:15em;
  z-index: 1;
  box-shadow: 0px 4px 8px 2px;
}
#info p{
  font-size: 1.5em;
}
#infoTxtLeft h1{
  font-size: 4em;
}
#info h1 {
  font-size: 2em;
  text-decoration: underline;
}
#infoWrap{
  display: flex;
  align-items: center;
  justify-content:space-around;
  height: 11em;
  width: 100%;
}
#order {
  display: block;
  position: relative;
  background: rgb(147,105,83);
  background: linear-gradient(90deg, rgba(147,105,83,1) 0%, rgba(212,172,152,1) 12%, rgba(147,105,83,1) 25%, rgba(176,134,113,1) 37%, rgba(212,172,152,1) 50%, rgba(176,134,113,1) 63%, rgba(147,105,83,1) 75%, rgba(212,172,152,1) 88%, rgba(147,105,83,1) 100%); 
  height: 8rem;
  width: 25rem;
  left: -13em;
  border-radius: 35%;
  border: rgb(147,105,83) 5px solid;
  box-shadow: 0 0 10px 5px black;
  font-family: "hammersmithone";
}
#order:hover{
  box-shadow: 0 0;
  transform: scale(.9);
}
#order a{
  text-decoration: none;
  color: black;
}
#order p{
  position: relative;
  display: flex;
  top:.9em;
  font-size: 2.2em;
  align-items: center;
  justify-content: center;
}
#about{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #A3B7C4ff;
  position: relative;
  top:11.5em;
  height: 30rem;
  width: 100%;
  font-family: "hammersmithOne";
}
#aboutTxtPc{
  display: block;
  font-size: 1.4em;
  position: relative;
  width:50em;
}
#review{
  display: block;
  height:40em;
  position: relative;
  width: 100%;
  top:11em;
  border-top: solid black 10px;
  border-bottom: solid black 10px;
}
#reviewWrap{
  display: flex;
  /* align-items: center; */
  height:30em;
  position: relative;
  top:2em;
  width: 100%;
}
#reviewLabel{
  display:block; 
  position: relative; 
  left:-1em; 
  font-size: 3em; 
  margin: 0; 
  padding: 0%;
}
#reviewLabelWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: darkgray;
  border-bottom: 10px solid black ;
}
.reviewTxt{
  display: block;
  background-color: white;
  margin-left: -.05em;
  margin-right: -.05em;
  width: 17em;
  position: relative;
  border:5px solid black;
  z-index: 2;
  font-size: 1.2em;
}
#reviewTxtWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:30em;
}

#reviewTxtWrap :nth-child(even){
  height: 15.5em;
}
#reviewTxtWrap :nth-child(odd){
  height: 21.5em;
}
.reviewTxt:hover{
  transition: ease .3s;
  /* height: 100%; */
  background-color: bisque;
  box-shadow: 0px 0px 5px 5px;
  z-index: 3;
  font-size: 1.4em;
}

#reviewPic{
  display:inline; 
  position: relative; 
  top:2em; 
  left:.5em; 
  height: 2em; 
}
#special{
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  position: relative;
  top: 3.65em;
  height:8.5em;
  background-color:darkgray;
  border-bottom: solid black 10px;
  font-size: 3em;
  font-family: "hammersmithOne";
  text-align: center;
}
#specialWrap p{
  font-size: .8em;
}
#specialWrap h2{
  font-size: 1.2em;
}
#specialWrap{
  position: relative;
  width: 100%;
  top:.2em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#special img{
  position: relative;
  top:.5em;
  display: inline-block;
  height:9em;
  opacity: 40%;
}
#findUs{
  display: flex;
  align-items: center;
  justify-content:space-between;
  position: relative;
  top:11.5em;
  height:30em;
  width:100%;

  border-bottom: solid black 20px;

}
#map{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}
#mapWrap{
  display: flex;
  height: 30em;
  width: 100%;
  align-items: center;
  justify-content:space-evenly;
  background-color: #A3B7C4;
}
#mapTxtWrap{
  font-size: 2em;
  font-family: "hammersmithone";

}
#mapTxtWrap p{
  margin: 1.5em 0 1.5em 0;
}
#storefrontPics{
  position: relative;
  align-items: center;
  justify-content: space-between;
  width:fit-content;
}
#storefrontPics img{
  border-radius: 20%; 
  position: relative;
  height: 23em; 
  width:17em;
  margin:0em 2.7em 0em 2.7em; 
}
#customerPics{
  display: flex;
  justify-content: center;
  z-index: 0;
  position: relative;
  top:11.5em;
  height:20em;
  /* animation-duration: 2s;
  animation-delay: .5s;
} */}


#footer{
  position: relative;
  background-color: #831B14ff;
  top:13.4em;
  height:12em;
  width: 100%;
  border-top: solid black 10px;
  color: white;
}
#footer a{
  color: white;
}
.nav-item a{
  color: white;
}
#menuBody{
  background-color: black;

}
#menu{

  width: 100%;
  height: 83em;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#menuWrap{
  position: relative;
  width:100%;
  height:100%;
}
#menuWrap img{}


@media screen and (max-width:2200px){
  #hero{
    display: none;
  }
  #hero2200{
    display: flex;
    height:70em;
  }
  #order{
    left:-6em;
  }
  #special{
    font-size: 1.5em;
    top:9em;
    height:14.8em;
    top:7.3em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #special img{
    height:15em;
  }
  #specialWrap p{
    font-size: 1.2em;
  }
  #specialWrap h2{
    font-size: 1.8em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 13em;
    height: 20em;
    margin-left: 1em;
    margin-right: 1em;
  }
  #findUs iframe{
    width:100%;
  }
  #findUs{
    top:11.4em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #customerPics{
    top:11.4em;
  }
  #footer{
    top:11.4em;
  }

  .navLink {
    font-size: 1.5em;
    height:fit-content;
  }

}

@media screen and (max-width:1900px){
  #specialWrap p{
    font-size: 1.1em;
  }
  #footer{
    top:11em;
  }

}

@media screen and (max-width:1700px){
  #cover{
    width: 10.5em;
    background-color: #831B14ff;
    /* background-color: black; */
  }
  #cover img{
    width:15em;
    height:10em;
  }
  #phNum{
    font-size: 1.2em;
    top:-.75em;
  }
  #order{
    left:-7em;
  }
  #special{
    font-size: 1.2em;
    top:9em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 14em;
    height: 20em;
    margin-left: .8em;
    margin-right: .8em;
  }
  #findUs iframe{
    width:100%;
  }
  #findUs{
    top:11.4em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #customerPics{
    top:11.4em;
  }
  #footer{
    top:11.4em;
  }
  .navLink {
    font-size: 1.5em;
    height:fit-content;
  }

}
@media screen and (max-width:1600px){
  #menu{
    display: block;
    width:100%;
    height:100%;
  }
  #menu img{
    width: 100%;
    height: 49.5%;
  }
  #cover{
    width: 12em;
    height:4em;
    /* background-color: #831B14ff; */
    /* background-color: black; */
  }
  #cover img{
    width: 12em;
  }
  #info{
    font-size: .8em;
    position: relative;
    top:0em;
  }
  #about{
    top:0em;
  }

  #review{
    top:0em;
    font-size: .8em;
  }
  #special{
    font-size: 1.2em;
    top:0em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 10em;
    height: 18em;
    margin-left: .6em;
    margin-right: .6em;
  }
  #findUs iframe{
    width:100%;
  }
  #findUs{
    top:.5em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #customerPics{
    top:0.5em;
  }
  #footer{
    top:.5em;
  }
  .navLink {
    font-size: 1.3em;
    height:fit-content;
  }

}
@media screen and (max-width:1400px){

  #cover img{
    width: 14em;
    height:10em;
  }
  #infoTxtLeft{
    font-size: .9em;
  }
  #address{
    font-size: .8em;
  }
  #review{
    top:0em;
    font-size: .7em;
  }
  #special{
    font-size: 1.1em;
    top:0em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 9em;
    height: 20em;
    margin-left: .6em;
    margin-right: .6em;
  }
  #mapTxtWrap{
    font-size: 1.8em;
  }
  #mapWrap{
    height:22em;
  }
  #findUs iframe{
    width:20em;
    height:20em;
  }
  #findUs{
    top:.5em;
    height: 22em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #customerPics{
    top:0.5em;
  }
  #footer{
    top:.5em;
  }
  .navLink {
    font-size: 1em;
    height:fit-content;
  }
  #phNum{
    font-size: 1em;
    top:-.5em;
  }
  #order {
    height: 5rem;
    width: 15rem;
    font-size: .7em;
  }
}
@media screen and (max-width:1200px){

  #logoWrap{
    top:.5em;
  }
  #logoWrap img{
    width: 8em;
    height:5em;
    left:1em;
  }
  #hero{
    top:0em;
    height:49em;
  }
  #infoTxtLeft{
    font-size: 1em;
  }
  #address{
    font-size: .9em;
  }
  #about{
    top:0em;
  }
  #review{
    top:0em;
    font-size: .8em;
  }
  #reviewTxtWrap :nth-child(even){
    height: 16.5em;
  }
  #reviewTxtWrap :nth-child(odd){
    height: 22em;
  }#reviewPic{
    top:-1em;
  }
  .reviewTxt:hover{
    transition: ease .3s;
    /* height: 100%; */
    background-color: bisque;
    box-shadow: 0px 0px 5px 5px;
    z-index: 3;
    font-size: 1.4em;
  }
  #special{
    font-size: .9em;
    top:0em;
    height: 14em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 7em;
    height: 14em;
    margin-left: .6em;
    margin-right: .6em;
  }
  #findUs iframe{
    width:13em;
    height:13em;
  }
  #findUs{
    top:1.6em;
    height:13em;
  }
  #mapWrap{
    height:15em;
  }
  #mapTxtWrap{
    font-size: 1.2em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #customerPics{
    top: 1.8em;
  }
  #footer{
    top:3.7em;
  }
  .navLink {
    font-size: 1.4em;
    margin: 0 1em 0 1em;
    height:fit-content;
  }
  #phNum{
    font-size: 1em;
    top:-.5em;
  }
  #order {
    height: 5rem;
    width: 15rem;
    font-size: .7em;
  }
}
@media screen and (max-width:1150px){

  #hero2200{
    display: none;
  }
  #hero1000{
    display: flex;
  }
  #about{
    top:0em;
    height:23.5em;
  }
  #about p{
    font-size: .85em;
  }
  #about h1{
    font-size: 1.3em;
  }

  #review{
    top:0em;
    font-size: .8em;
  }
  #reviewTxtWrap :nth-child(even){
    height: 16.5em;
  }
  #reviewTxtWrap :nth-child(odd){
    height: 22em;
  }#reviewPic{
    top:-1em;
  }
  .reviewTxt:hover{
    transition: ease .3s;
    /* height: 100%; */
    background-color: bisque;
    box-shadow: 0px 0px 5px 5px;
    z-index: 3;
    font-size: 1.4em;
  }
  #special{
    font-size: .9em;
    top:0em;
    height: 14em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 7em;
    height: 14em;
    margin-left: .6em;
    margin-right: .6em;
  }
  #findUs iframe{
    width:13em;
    height:13em;
  }
  #findUs{
    top:1.6em;
    height:13em;
  }
  #mapWrap{
    height:15em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #customerPics{
    top: 1.8em;
  }
  #footer{
    top:3.7em;
  }
  .navLink {
    font-size: .8em;
    height:fit-content;
  }
  #phNum{
    font-size: .8em;
    top:-.5em;
  }
  #order {
    height: 5rem;
    width: 10rem;
    font-size: .7em;
  }
}

@media screen and (max-width:1100px){

  #logoWrap{
    top: 0em;
  }
  #logoWrap img{
    width: 9em;
    height:6em;
  }
  #info{
    top:0em;
  }
  #infoTxtLeft{
    font-size: .8em;
  }
  #address{
    font-size: .8em;
    top:0em;
  }
  #address p{
    text-align: center;
  }
  #address h1{
    font-size:2em;
  }
  #about{
    top:0em;
    height:22.5em;
  }
 
  #hero{
    display: none;
  }
  #hero1000{
    display: flex;
    top:0;
    height:35em;
  }
  #about p{
    font-size: .75em;
  }
  #about h1{
    font-size: .9em;
  }

  #review{
    top:0em;
    font-size: .45em;
    display: none;
  }
  #reviewTxtWrap :nth-child(even){
    height: 19em;
  }
  #reviewTxtWrap :nth-child(odd){
    height: 23em;
  }#reviewPic{
    top:-1em;
  }
  .reviewTxt:hover{
    transition: ease .3s;
    /* height: 100%; */
    background-color: bisque;
    box-shadow: 0px 0px 5px 5px;
    z-index: 3;
    font-size: 1.4em;
  }
  #special{
    border-top: 10px solid black;
    height: 10em;
    font-size: .85em;
    top:0em;
    height: 16em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 7em;
    height: 12em;
    margin-left: .3em;
    margin-right: .3em;
  }
  #findUs iframe{
    width:11em;
    height:11em;
  }
  #findUs{
    top:1.5em;
    height:13.1em;
  }
  #mapWrap{
    height:15em;
  }
  #findUs a{
    position: relative;
    top:-15em;
  }
  #customerPics{
    top: 1.8em;
    height:12em;
  }
  #footer{
    top:12em;
  }
  .navLink {
    font-size: 1.1em;
    height:fit-content;
    margin: 0 1em 0 1em;
  }
  #navLeft{
    top:-.5em;
  }
  #navRight{
    top:-.5em;
  }
  #navLeft img{
    height:2em;
  }
  #navRight img{
    height:1.5em;
  }
  #phNum{
    font-size: 1em;
    top:-.5em;
  }
  #order {
    font-family: "hammersmithone";
    height: 7rem;
    width: 10rem;
    font-size: 1em;
    left:-2em;
  }

  #footer{
    top:11.7em;
    height:13em;
  }
}
@media screen and (max-width:900px){

  #cover img{
    width: 12em;
    height:6em;
  }
  #info{
    top:0em;
  }
  #infoTxtLeft{
    font-size: .8em;
  }
  #address{
    font-size: .9em;
    top:0em;
  }
  #address p{
    text-align: center;
  }
  #address h1{
    font-size:2em;
  }
  #about{
    top:0em;
    height:22.5em;
  }
  #about p{
    font-size: .7em;
  }
  #review{
    top:0em;
    font-size: .45em;
    display: none;
  }
  #reviewTxtWrap :nth-child(even){
    height: 19em;
  }
  #reviewTxtWrap :nth-child(odd){
    height: 23em;
  }#reviewPic{
    top:-1em;
  }
  .reviewTxt:hover{
    transition: ease .3s;
    background-color: bisque;
    box-shadow: 0px 0px 5px 5px;
    z-index: 3;
    font-size: 1.4em;
  }
  #special{
    border-top: 10px solid black;
    height: 10em;
    font-size: .85em;
    top:0em;
    height: 16em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 7em;
    height: 12em;
    margin-left: .3em;
    margin-right: .3em;
  }
  #findUs iframe{
    width:11em;
    height:11em;
  }
  #findUs{
    top:1.6em;
    height:13.1em;
  }
  #mapWrap{
    height:15em;
  }
  #findUs a{
    position: relative;
    top:-15em;
  }
  #customerPics{
    top: 1.9em;
    height:12em;
  }
  #footer{
    top:11.8em;
  }
  .navLink {
    font-size: 1em;
    top:.5em;
    margin: 0 .5em 0 .5em;
    width:fit-content;
    height:fit-content;
  }
  #navLeft{
    top:-.5em;
    width: 15em;
  }
  #navRight{
    top:-.5em;
    width: 15em;
    margin: 0 .5em 0 .5em;
  }
  #navLeft img{
    height:2em;
  }
  #navRight img{
    height:1.5em;
  }
  #phNum{
    font-size: .8em;
    top:-.5em;
  }
  #order {
    height: 5rem;
    width: 10rem;
    font-size: .6em;
    left:-3.5em;
  }
  #hero1000{
    display: flex;
  }
  #footer{
    height:12.5em;
  }
}
@media screen and (max-width:800px){
  #logoWrap img{
    width: 7em;
    height:5em;
  }
  #info{
    top:0em;
  }
  #infoTxtLeft{
    font-size: .8em;
  }
  #address{
    font-size: .8em;
    top:0em;
  }
  #address p{
    text-align: center;
  }
  #address h1{
    font-size:2em;
  }
  #about{
    top:0em;
    height:22.5em;
  }
  #about p{
    font-size: .65em;
  }
  #about h1{
    font-size: .8em;
  }
  #review{
    top:0em;
    font-size: .45em;
    display: none;
  }
  #reviewTxtWrap :nth-child(even){
    height: 19em;
  }
  #reviewTxtWrap :nth-child(odd){
    height: 23em;
  }#reviewPic{
    top:-1em;
  }
  .reviewTxt:hover{
    transition: ease .3s;
    background-color: bisque;
    box-shadow: 0px 0px 5px 5px;
    z-index: 3;
    font-size: 1.4em;
  }
  #special{
    border-top: 10px solid black;
    height: 10em;
    font-size: .85em;
    top:0em;
    height: 16em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-2.9em;
  }
  #storefrontPics img{
    width: 6em;
    height: 12em;
    margin-left: .3em;
    margin-right: .3em;
  }
  #findUs iframe{
    width:11em;
    height:11em;
  }
  #findUs{
    top:1.5em;
    height:13.1em;
  }
  #mapWrap{
    height:15em;
  }
  #mapTxtWrap{
    font-size: 1em;
  }
  #findUs a{
    position: relative;
    top:-15em;
  }
  #customerPics{
    top: 1.8em;
    height:12em;
  }
  #footer{
    top:11.7em;
  }
  .navLink {
    font-size: .95em;
    top:.5em;
    margin: 0 .4em 0 .4em;
    width:fit-content;
    height:fit-content;
  }
  #navLeft{
    top:-.5em;
    width: 15em;
  }
  #navRight{
    top:-.5em;
    width: 15em;
    margin: 0 .5em 0 .5em;
  }
  #navLeft img{
    height:2em;
  }
  #navRight img{
    height:1.5em;
  }
  #phNum{
    font-size: .9em;
    top:-.5em;
  }
  #order {
    height: 5rem;
    width: 10rem;
    font-size: .6em;
    left:-3em;
  }
  #hero{
    display: none;
  }
  #hero1000{
    display: none;
  }
  #heroSmall{
    display: none;
  }
  #heroSmallest{
    display: flex;
  }
  #footer{
    height:13em;
  }
}
@media screen and (max-width:700px){
  #cover img{
    width: 8em;
    height:6em;
  }
  #upperNavBar{
    height:6em;
  }
  #navWrap{
    height: 6em;
  }
  #info{
    top:0em;
  }
  #infoTxtLeft{
    font-size: .8em;
  }
  #address{
    font-size: .8em;
    top:0em;
  }
  #address p{
    text-align: center;
  }
  #address h1{
    font-size:2em;
  }
  #about{
    top:0em;
    height:23.5em;
  }
  #about p{
    font-size: .6em;
  }
  #about h1{
    font-size: .75em;
  }
  #review{
    top:0em;
    font-size: .45em;
    display: none;
  }
  #reviewTxtWrap :nth-child(even){
    height: 19em;
  }
  #reviewTxtWrap :nth-child(odd){
    height: 23em;
  }#reviewPic{
    top:-1em;
  }
  .reviewTxt:hover{
    transition: ease .3s;
    background-color: bisque;
    box-shadow: 0px 0px 5px 5px;
    z-index: 3;
    font-size: 1.4em;
  }
  #special{
    border-top: 10px solid black;
    height: 10em;
    font-size: .85em;
    top:0em;
    height: 16em;
  }
  #special img{
    width:8em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #special p{
    font-size: .9em;
  }
  #findUs a{
    position: relative;
    top:-2.9em;
  }
  #storefrontPics img{
    width: 4em;
    height: 12em;
    margin-left: 0em;
    margin-right: 0em;
    display: none;
  }
  #mapTxtWrap{
    font-size: .4em;
  }
  #findUs iframe{
    width:12em;
    height:12em;
  }
  #findUs{
    top:1.5em;
    height:13.1em;
  }
  #mapWrap{
    height:15em;
  }
  #mapTxtWrap p{
    font-size: 2em;
  }
  #findUs a{
    position: relative;
    top:-15em;
  }
  #customerPics{
    top: 1.8em;
    height:12em;
  }
  .navLink {
    font-size: .85em;
    top:.5em;
    margin: 0 .4em 0 .4em;
    width:fit-content;
    height:fit-content;
  }
  #navLeft{
    top:-.5em;
    width: 15em;
  }
  #navRight{
    top:-.5em;
    width: 15em;
    margin: 0 .5em 0 .5em;
  }
  #navLeft img{
    height:2em;
  }
  #navRight img{
    height:1.5em;
  }
  #phNum{
    font-size: 1em;
    top:-.5em;
  }
  #order {
    height: 5rem;
    width: 8rem;
    font-size: .6em;
    left:-2em;
  }
  #footer{
    height:13em;
  }
  #heroSmallest{
    display: flex;
  }

}


@media screen and (max-width:650px){
  #logoWrap{
    top:1em;
  }
  #logoWrap img{
    width: 5em;
    height:3.5em;
  }
  
  #info{
    top:0em;
  }
  #infoTxtLeft{
    font-size: .9em;
  }
  #address{
    font-size: .75em;
    top:0em;
  }
  #address p{
    text-align: center;
  }
  #address h1{
    font-size:2em;
    left:2em;
  }
  #about{
    top:0em;
    height:23.5em;
  }
  #customerPics{
    top: 1.8em;
    height:12em;
    display: none;
  }
  .navLink {
    font-size: .8em;
    top:.5em;
    margin: 0 .2em 0 .2em;
    width:fit-content;
    height:fit-content;
  }
  #special p{
    font-size: .65em;
  }
  #phNum{
    font-size: .7em;
    top:-.5em;
  }
  #order {
    height: 5rem;
    width: 9rem;
    font-size: .6em;
    left:0em;
  }
} 
@media screen and (max-width:600px){
#logoWrap{
  width: 4em;
  height: 4em;
  top:0;
}
#logoWrap img{
  width:4em;
  height: 3em;
}
#phNum{
  font-size:.55em;
}
.navLink{
  margin:0;
  font-size: .75em;
}
#navLeft{
  width:18em;
  margin-right:0;
  margin-left:0;
}
#navLeft img{
  width: 1.8em;
  height: auto;
  left:0;
}
#navRight{
  width:21em;
  margin-left:0;
  margin-right: 0;
}
#navRight img{
  width: 1.4em;
  height: auto;
}
#order{
  width: 13em;
  font-size: .5em;
  left:1.5em;
}
#infoTxtLeft{
  left:1em;
}
#special{
  font-size: .9em;
  top:0em;
}
#findUs{
  top: 1.5em;
}
#footer{
  top:1.5em;
}
#hero1000{
  display: none;
}
#heroSmall{
  display: none;
}
#heroSmallest{
  display: flex;
}
}
@media screen and (max-width:450px){
  #heroSmallest{
    display: none;
  }
  #hero500{
    display: block;
    height:12em;
}
  #infoTxtLeft{
  text-decoration: none;
}
  #order{
    width:17em;
    left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #order p{
    position: relative;
    top: .5em;
  }
  #special p{
    font-size: .5em;
  }
  #address{
    width: 13em;
  }
  .navLink{
    font-size: .5em;
  }
  #phNum{
    font-size: .45em;
  }
}