/* *{
  border: solid blue 1px;
} */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid blue 1px; */
}
@font-face {
  font-family: "hammersmithOne"; /*a name to be used later*/
  src: url("HammersmithOne-Regular.ttf"); /*URL to font*/
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* height: 200em; */
  width: 100%;
  font-family: "hammersmithOne";
  color: black;
}

    
.parallax {

  background-image: url("nachos.JPG");
  height: 100%;
  max-width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#container{
  /* background: rgb(131,27,20); */
  display:flex;
  justify-content: center;
  width: 100%;
  /* height:4000px; */
  margin: auto;

}

#upperNavBar{
position: sticky;
position: -webkit-sticky;
z-index: 10;
display: flex;
height: 7em;
width: 100%;
background: radial-gradient(100% 40% ellipse at center 80%, #ff000000 70%, #831B14ff 100%);
}
#navWrap{
  position: sticky;
  height: 7em;
  width: 100%;
  display: flex;
  align-items:initial;
  justify-content: space-between;
  z-index: 5;
}
#navLeft{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  height: 3.8em;
  width:fit-content;
  margin-left: .2em;
}
#navLeft img{
  height: 3.2em;
  position: relative;
  left:-.4em;
}
#cover{
  display:flex; 
  justify-content:center; 
  background: rgb(131,27,20);
  background: linear-gradient(90deg, rgba(131,27,20,0) 33%, rgba(131,27,20,1) 33%, rgba(131,27,20,1) 50%, rgba(131,27,20,1) 67%, rgba(131,27,20,0) 67%); 
  position:relative; 
  z-index:11; 
  height: 3.5em;  
  width:50%;
}
#logoWrap{
  min-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  top:-9em;
  left:-2em;
}
#cover img{
  width: 25em;
  height: 14em;
  margin: 0;
}

#navRight{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  height: 3.8em;
  margin-right: .2em;
}
#navRight img{
  height: 2.4em;
}
.navLink{
  font-family:"Impact", fantasy;
  background-color: #ff000000;
  border: solid 3px black;
  border-style: double;
  color: silver;
  text-decoration: none;
  margin: .1em;
  font-size: 2em;
}
.navLink:hover{
  transition: ease 1s;
  background-color: #343B44ff;
  text-decoration: none;
} 
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  font-size: 20px;
  height: 8em;
  z-index: 10;
  
}
#phNum{
  position: relative; 
  top:0em; 
  color: white; 
  font-size: 2em; 
  text-decoration: none; 
  height: 1em;
}
#phNum:hover{
  transition: ease .4s;
  color: black;
}
#hero{
  display: flex;
  justify-content: center;
  z-index: 0;
  position: relative;
  top:-10em;
  height: 40em;

}

#address {
  position: relative;
  display:block;
  font-family: "hammersmithOne";
  height:fit-content;
}

#hours{
  position: relative;
  display: block;
  height: fit-content;
  width:20em;
  font-family: "hammersmithOne";
}
#info  {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #831B14ff;
  position: absolute;
  border-top: solid black 15px;
  left: 0px;
  width:100%;
  top:49em;
  height:15em;
  z-index: 1;
  box-shadow: 0px 4px 8px 2px;
}
#info p{
  font-size: 1.5em;
}
#hours p{
  font-size: 1.2em;
}
#info h1 {
  font-size: 2em;
  text-decoration: underline;
}
#infoWrap{
  display: flex;
  align-items: center;
  justify-content:space-around;
  height: 11em;
  width: 100%;
}
#order {
  display: block;
  position: relative;
  background: rgb(147,105,83);
  background: linear-gradient(90deg, rgba(147,105,83,1) 0%, rgba(212,172,152,1) 12%, rgba(147,105,83,1) 25%, rgba(176,134,113,1) 37%, rgba(212,172,152,1) 50%, rgba(176,134,113,1) 63%, rgba(147,105,83,1) 75%, rgba(212,172,152,1) 88%, rgba(147,105,83,1) 100%); 
  height: 8rem;
  width: 25rem;
  border-radius: 35%;
  border: rgb(147,105,83) 5px solid;
  box-shadow: 0 0 10px 5px black;
}
#order:hover{
  box-shadow: 0 0;
  transform: scale(.9);
}
#order a{
  text-decoration: none;
  color: black;
}
#order p{
  position: relative;
  display: flex;
  top:.9em;
  font-size: 2.2em;
  align-items: center;
  justify-content: center;
}
#about{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #A3B7C4ff;
  position: relative;
  top:11.5em;
  left: 0px;
  height: 30rem;
  width: 100%;
  font-family: "hammersmithOne";
}
#about img{
  /* display: inline;
  float: left; */
  width:30%;
  height:110%;
  position: relative;
  /* left: 5em; */
  top: -.5em;
  z-index: 1;
}

#aboutTxtPc{
  display: block;
  /* visibility: visible; */
  font-size: 1.6em;
  position: relative;
  top: -.5em;
  /* float:right; */
  width:50em;
  /* left: -7em; */
}
#aboutTxtMobile{
  display: none;
  /* visibility: hidden; */
  font-size: 1.6em;
  position: relative;
  top: -.5em;
  /* float:right; */
  width:50em;
  /* left: -7em; */
}
#aboutTxt p{
  display: inline;
  left:-100px;
}
#review{
  display: block;
  height:40em;
  position: relative;
  width: 100%;
  top:11em;
  border-top: solid black 10px;
  border-bottom: solid black 10px;
}
#reviewWrap{
  display: flex;
  /* align-items: center; */
  height:30em;
  position: relative;
  width: 100%;
}
#reviewLabel{
  display:block; 
  position: relative; 
  left:-1em; 
  font-size: 3em; 
  margin: 0; 
  padding: 0%;
}
#reviewLabelWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  border-bottom: 10px solid black ;
}
.reviewTxt{
  display: block;
  background-color: white;
  margin-left: -.05em;
  margin-right: -.05em;
  width: 17em;
  position: relative;
  border:5px solid black;
  z-index: 2;
  font-size: 1.2em;
}
#reviewTxtWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:30em;
}

#reviewTxtWrap :nth-child(even){
  height: 15.5em;
}
#reviewTxtWrap :nth-child(odd){
  height: 21.5em;
}
.reviewTxt:hover{
  transition: ease .3s;
  /* height: 100%; */
  background-color: bisque;
  box-shadow: 0px 0px 5px 5px;
  z-index: 3;
  font-size: 1.4em;
}

#reviewPic{
  display:inline; 
  position: relative; 
  top:2em; 
  left:.5em; 
  height: 2em; 
}
#special{
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  position: relative;
  top: 3.65em;
  height:8.5em;
  background-color:darkgray;
  border-bottom: solid black 10px;
  font-size: 3em;
  font-family: "hammersmithOne";
  text-align: center;
}
#specialWrap p{
  font-size: .8em;
}
#specialWrap h2{
  font-size: 1.2em;
}
#specialWrap{
  position: relative;
  width: 100%;
  top:.2em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#special img{
  position: relative;
  top:.5em;
  display: inline-block;
  height:9em;
  opacity: 40%;
}
#findUs{
  display: flex;
  align-items: center;
  justify-content:space-between;
  position: relative;
  top:11.5em;
  height:30em;
  width:100%;

  border-bottom: solid black 20px;

}
#map{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}
#mapWrap{
  display: flex;
  height: 30em;
  width: 100%;
  align-items: center;
  justify-content:space-evenly;
  background-color: #A3B7C4;
}
#storefrontPics{
  position: relative;
  align-items: center;
  justify-content: space-between;
  width:fit-content;
}
#storefrontPics img{
  border-radius: 20%; 
  position: relative;
  height: 23em; 
  width:17em;
  margin:0em 2.7em 0em 2.7em; 
}
#customerPics{
  display: flex;
  justify-content: center;
  z-index: 0;
  position: relative;
  top:11.5em;
  height:20em;
  /* animation-duration: 2s;
  animation-delay: .5s;
} */}


#footer{
  position: relative;
  background-color: antiquewhite;
  top:11.5em;
  height:12em;
  width: 100%;
  border-top: solid black 10px;
}
#menu{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  background-color: black;
}
#menu img{
  margin:2em;
  width:45%;
  height: 95%;
}




@media screen and (max-width:1600px){
  #menu{
    object-fit: cover;
    width:100%;
    height:100%;
  }
  #menu img{
    width: 100%;
    height: 49.5%;
  }
  #cover{
    width: 30em;
    background-color: #831B14ff;
  }
  #aboutTxt{
    width:50%;
    height:fit-content;
  }
  #about p{
    font-size: .6em;
    margin:0;
  }
  #about h1{
    font-size: .8em;
  }
  #special{
    font-size: 1.2em;
    top:9em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 13em;
    height: 20em;
    margin-left: 1em;
    margin-right: 1em;
  }
  #findUs iframe{
    width:100%;
  }
  #findUs{
    top:11.4em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #customerPics{
    top:11.4em;
  }
  #footer{
    top:11.4em;
  }

  .navLink {
    font-size: 1.5em;
    height:fit-content;
  }

}

@media screen and (max-width:1300px){
  #menu{
    object-fit: cover;
    width:100%;
    height:100%;
  }
  #menu img{
    width: 100%;
    height: 49.5%;
  }
  #cover{
    width: 20em;
    background-color: #831B14ff;
  }
  #aboutTxtPc{
    display: none;
  }
  #aboutTxtMobile{
    display:block;
    visibility: visible;
    width:50%;
    height:15em;
  }
  #about p{
    font-size: .7em;
    margin:0;
    padding-top: 1em;
    padding-bottom: 0em;
  }
  #about h1{
    font-size: .9em;
    top:1em;
  }
  #about img{
    top:.1em;
    height:27em;
    width: 30em;
  }
  #special{
    font-size: 1.2em;
    top:9em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 14em;
    height: 20em;
    margin-left: .8em;
    margin-right: .8em;
  }
  #findUs iframe{
    width:100%;
  }
  #findUs{
    top:11.4em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #customerPics{
    top:11.4em;
  }
  #footer{
    top:11.4em;
  }

  .navLink {
    font-size: 1.5em;
    height:fit-content;
  }

}
@media screen and (max-width:1200px){
  #menu{
    object-fit: cover;
    width:100%;
    height:100%;
  }
  #menu img{
    width: 100%;
    height: 49.5%;
  }
  #cover{
    width: 18em;
    height:4em;
    background-color: #831B14ff;
  }
  #cover img{
    width: 17em;
  }
  #info{
    font-size: .8em;
    position: relative;
    top:0em;
  }
  #about{
    top:0em;
  }
  #aboutTxtPc{
    display: none;
  }
  #aboutTxtMobile{
    display:block;
    visibility: visible;
    width:50%;
    height:15em;
  }
  #about p{
    font-size: .6em;
    margin:0;
    padding-top: 1em;
    padding-bottom: 0em;
  }
  #about h1{
    font-size: .9em;
    top:1em;
  }
  #about img{
    top:.1em;
    height:27em;
    width: 30em;
  }
  #review{
    top:0em;
    font-size: .7em;
  }
  #special{
    font-size: 1.2em;
    top:0em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 10em;
    height: 18em;
    margin-left: .6em;
    margin-right: .6em;
  }
  #findUs iframe{
    width:100%;
  }
  #findUs{
    top:.5em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #customerPics{
    top:0.5em;
  }
  #footer{
    top:.5em;
  }
  .navLink {
    font-size: 1.3em;
    height:fit-content;
  }

}
@media screen and (max-width:900px){
  #menu{
    object-fit: cover;
    width:100%;
    height:100%;
  }
  #menu img{
    width: 100%;
    height: 49.5%;
  }
  #cover{
    width: 13em;
    height:4em;
    background-color: #831B14ff;
  }
  #cover img{
    width: 14em;
    height:10em;
  }
  #hours{
    font-size: .9em;
  }
  #address{
    font-size: .8em;
  }
  #about{
    top:0em;
  }
  #aboutTxtPc{
    display: none;
  }
  #aboutTxtMobile{
    display:block;
    visibility: visible;
    width:50%;
    height:15em;
  }

  #about p{
    font-size: .55em;
    margin:0;
    padding-top: 1em;
    padding-bottom: 0em;
  }
  #about h1{
    font-size: .8em;
    top:1em;
  }
  #about img{
    top:.1em;
    height:22em;
    width: 27em;
  }
  #review{
    top:0em;
    font-size: .7em;
  }
  #special{
    font-size: 1.1em;
    top:0em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 8em;
    height: 16em;
    margin-left: .6em;
    margin-right: .6em;
  }
  #mapWrap{
    height:22em;
  }
  #findUs iframe{
    width:20em;
    height:20em;
  }
  #findUs{
    top:.5em;
    height: 22em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #customerPics{
    top:0.5em;
  }
  #footer{
    top:.5em;
  }
  .navLink {
    font-size: 1em;
    height:fit-content;
  }
  #phNum{
    font-size: 1em;
    top:1em;
  }
  #order {
    height: 5rem;
    width: 15rem;
    font-size: .7em;
  }
}
@media screen and (max-width:800px){
  #menu{
    object-fit: cover;
    width:100%;
    height:100%;
  }
  #menu img{
    width: 100%;
    height: 49.5%;
  }
  #cover{
    width: 10em;
    height:4em;
    background-color: #831B14ff;
  }
  #cover img{
    width: 12em;
    height:8em;
  }
  #hours{
    font-size: .9em;
  }
  #address{
    font-size: .7em;
  }
  #about{
    top:0em;
  }
  #aboutTxtPc{
    display: none;
  }
  #aboutTxtMobile{
    display:block;
    visibility: visible;
    width:50%;
    height:15em;
  }

  #about p{
    font-size: .5em;
    margin:0;
    padding-top: 1em;
    padding-bottom: 0em;
    position: relative;
    top:1em;
  }
  #about h1{
    font-size: .8em;
    top:1em;
    position: relative;
  }
  #about img{
    top:.1em;
    height:20em;
    width: 24em;
  }
  #review{
    top:0em;
    font-size: .6em;
  }
  #reviewTxtWrap :nth-child(even){
    height: 16.5em;
  }
  #reviewTxtWrap :nth-child(odd){
    height: 22em;
  }#reviewPic{
    top:-1em;
  }
  .reviewTxt:hover{
    transition: ease .3s;
    /* height: 100%; */
    background-color: bisque;
    box-shadow: 0px 0px 5px 5px;
    z-index: 3;
    font-size: 1.4em;
  }
  #special{
    font-size: .9em;
    top:0em;
    height: 11em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 7em;
    height: 14em;
    margin-left: .6em;
    margin-right: .6em;
  }
  #findUs iframe{
    width:13em;
    height:13em;
  }
  #findUs{
    top:1.6em;
    height:13em;
  }
  #mapWrap{
    height:15em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #customerPics{
    top: 1.8em;
  }
  #footer{
    top:4em;
  }
  .navLink {
    font-size: 1em;
    height:fit-content;
  }
  #phNum{
    font-size: 1em;
    top:1em;
  }
  #order {
    height: 5rem;
    width: 15rem;
    font-size: .7em;
  }
}
@media screen and (max-width:700px){
  #menu{
    object-fit: cover;
    width:100%;
    height:100%;
  }
  #menu img{
    width: 100%;
    height: 49.5%;
  }
  #cover{
    width: 7em;
    height:4em;
    background-color: #831B14ff;
  }
  #cover img{
    width: 10em;
    height:6em;
  }
  #info{
    top:0em;
  }
  #hours{
    font-size: .9em;
  }
  #address{
    font-size: .6em;
    top:-1.5em;
  }
  #address p{
    text-align: center;
  }
  #address h1{
    font-size:2.5em;
  }
  #about{
    top:0em;
    height:23.5em;
  }
  #aboutTxtPc{
    display: none;
  }
  #aboutTxtMobile{
    display:block;
    visibility: visible;
    width:50%;
    height:15em;
    top:1em;
  }

  #about p{
    font-size: .45em;
    margin:0;
    padding-top: 1em;
    padding-bottom: 0em;
    position: relative;
    top:1em;
  }
  #about h1{
    font-size: .8em;
    top:1em;
    position: relative;
  }
  #about img{
    top:.1em;
    height:15em;
    width: 20em;
  }
  #review{
    top:0em;
    font-size: .6em;
  }
  #reviewTxtWrap :nth-child(even){
    height: 16.5em;
  }
  #reviewTxtWrap :nth-child(odd){
    height: 22em;
  }#reviewPic{
    top:-1em;
  }
  .reviewTxt:hover{
    transition: ease .3s;
    /* height: 100%; */
    background-color: bisque;
    box-shadow: 0px 0px 5px 5px;
    z-index: 3;
    font-size: 1.4em;
  }
  #special{
    font-size: .9em;
    top:0em;
    height: 11em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 7em;
    height: 14em;
    margin-left: .6em;
    margin-right: .6em;
  }
  #findUs iframe{
    width:13em;
    height:13em;
  }
  #findUs{
    top:1.6em;
    height:13em;
  }
  #mapWrap{
    height:15em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #customerPics{
    top: 1.8em;
  }
  #footer{
    top:4em;
  }
  .navLink {
    font-size: .8em;
    height:fit-content;
  }
  #phNum{
    font-size: .8em;
    top:1.2em;
    left:-.5em;
  }
  #order {
    height: 5rem;
    width: 10rem;
    font-size: .7em;
  }
  #hero{

  }
}
@media screen and (max-width:625px){
  #menu{
    object-fit: cover;
    width:100%;
    height:100%;
  }
  #menu img{
    width: 100%;
    height: 49.5%;
  }
  #cover{
    width: 5em;
    height:4em;
    left:.7em;
    background-color: #831B14ff;
  }
  #cover img{
    width: 8em;
    height:6em;
  }
  #info{
    top:0em;
  }
  #hours{
    font-size: .9em;
  }
  #address{
    font-size: .6em;
    top:-1.5em;
  }
  #address p{
    text-align: center;
  }
  #address h1{
    font-size:2em;
  }
  #about{
    top:0em;
    height:23.5em;
  }
  #aboutTxtPc{
    display: none;
  }
  #aboutTxtMobile{
    display:block;
    visibility: visible;
    width:50%;
    height:15em;
    top:1em;
  }

  #about p{
    font-size: .45em;
    margin:0;
    padding-top: 1em;
    padding-bottom: 0em;
    position: relative;
    top:1em;
  }
  #about h1{
    font-size: .8em;
    top:1em;
    position: relative;
  }
  #about img{
    top:.1em;
    height:13em;
    width: 17em;
  }
  #review{
    top:0em;
    font-size: .45em;
  }
  #reviewTxtWrap :nth-child(even){
    height: 17em;
  }
  #reviewTxtWrap :nth-child(odd){
    height: 22.5em;
  }#reviewPic{
    top:-1em;
  }
  .reviewTxt:hover{
    transition: ease .3s;
    /* height: 100%; */
    background-color: bisque;
    box-shadow: 0px 0px 5px 5px;
    z-index: 3;
    font-size: 1.4em;
  }
  #special{
    font-size: .9em;
    top:0em;
    height: 11em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 7em;
    height: 12em;
    margin-left: .6em;
    margin-right: .6em;
  }
  #findUs iframe{
    width:11em;
    height:11em;
  }
  #findUs{
    top:1.6em;
    height:13em;
  }
  #mapWrap{
    height:15em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #customerPics{
    top: 1.8em;
  }
  #footer{
    top:4em;
  }
  .navLink {
    font-size: .8em;
    height:fit-content;
  }
  #phNum{
    font-size: .7em;
    top:1.2em;
    left:-.5em;
  }
  #order {
    height: 5rem;
    width: 10rem;
    font-size: .7em;
  }
}
@media screen and (max-width:600px){
  #menu{
    object-fit: cover;
    width:100%;
    height:100%;
  }
  #menu img{
    width: 100%;
    height: 49.5%;
  }
  #cover{
    width: 6em;
    height:4em;
    left:.7em;
    background-color: #831B14ff;
  }
  #cover img{
    width: 8em;
    height:4em;
  }
  #info{
    top:0em;
  }
  #hours{
    font-size: .8em;
  }
  #address{
    font-size: .7em;
    top:-1.5em;
  }
  #address p{
    text-align: center;
  }
  #address h1{
    font-size:2em;
  }
  #about{
    top:0em;
    height:22.5em;
  }
  #aboutTxtPc{
    display: none;
  }
  #aboutTxtMobile{
    display:block;
    visibility: visible;
    width:40%;
    height:15em;
    top:1em;
  }

  #about p{
    font-size: .35em;
    margin:0;
    padding-top: 1em;
    padding-bottom: 0em;
    position: relative;
    top:1em;
  }
  #about h1{
    font-size: .8em;
    top:1em;
    position: relative;
  }
  #about img{
    top:.1em;
    height:11em;
    width: 15em;
  }
  #review{
    top:0em;
    font-size: .45em;
    display: none;
  }
  #reviewTxtWrap :nth-child(even){
    height: 19em;
  }
  #reviewTxtWrap :nth-child(odd){
    height: 23em;
  }#reviewPic{
    top:-1em;
  }
  .reviewTxt:hover{
    transition: ease .3s;
    /* height: 100%; */
    background-color: bisque;
    box-shadow: 0px 0px 5px 5px;
    z-index: 3;
    font-size: 1.4em;
  }
  #special{
    border-top: 10px solid black;
    height: 10em;
    font-size: .85em;
    top:0em;
    height: 14em;
  }
  #special a{
    position: relative;
    top:-3em;
  }
  #findUs a{
    position: relative;
    top:-3em;
  }
  #storefrontPics img{
    width: 5em;
    height: 10em;
    margin-left: .3em;
    margin-right: .3em;
  }
  #findUs iframe{
    width:11em;
    height:11em;
  }
  #findUs{
    top:1.6em;
    height:13em;
  }
  #mapWrap{
    height:15em;
  }
  #findUs a{
    position: relative;
    top:-15em;
  }
  #customerPics{
    top: 2em;
    height:12em;
  }
  #footer{
    top:4em;
  }
  .navLink {
    font-size: .65em;
    height:fit-content;
  }
  #navLeft{
    top:-.5em;
  }
  #navRight{
    top:-.5em;
  }
  #navLeft img{
    height:2em;
  }
  #navRight img{
    height:1.5em;
  }
  #phNum{
    font-size: .6em;
    top:1.2em;
    left:-.5em;
  }
  #order {
    height: 5rem;
    width: 8rem;
    font-size: .6em;
    left:-2em;
  }
  #hero{
    max-height: 20em;
    top:-22em;
  }
  #footer{
    height:45em;
  }
}